  <div class="inner cover">
    <h1 class="cover-heading">About Me</h1>
    <p class="lead">Highly skilled and dedicated Software Engineer with extensive experience in the managing, planning and support of daily operational and key functions. 10+ years of software development from design, building and implementation. Full functioning software engineer that includes database design and thinking outside of the box. Ability to remain flexible while maintaining confidentiality and immediate support to projects.</p>
  </div>